{
  "openapi": "3.0.0",
  "info": {
    "version": "v1.0.0",
    "title": "Brain Agriculture",
    "description": ""
  },
  "servers": [
    {
      "url": "https://trmbsykipiai4zg4plt4stqqf40igqlx.lambda-url.sa-east-1.on.aws",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "local"
    }
  ],
  "paths": {
    "/api/healthcheck/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ruralProducer/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cpf_cnpj": {
                    "example": "any"
                  },
                  "producerName": {
                    "example": "any"
                  },
                  "farmName": {
                    "example": "any"
                  },
                  "city": {
                    "example": "any"
                  },
                  "state": {
                    "example": "any"
                  },
                  "totalArea": {
                    "example": "any"
                  },
                  "arableArea": {
                    "example": "any"
                  },
                  "vegetableArea": {
                    "example": "any"
                  },
                  "plantedCrops": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ruralProducer/{cpf_cnpj}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "cpf_cnpj",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "cpf_cnpj",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/dashboard/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}